.buildpath
.classpath
.project
.settings
target

cache

*.jar
*.toc
*.out
*.pdf
*.aux
*.log
*.bbl
*.blg
*.dsc
*.deb
*.build
*.changes
*.gz
*.substvars
*.swp

views.sparqlify
platform.properties
run-panlex.sh
deptree.txt

#dependency-reduced-pom.xml

## Temporary excludes
dependency-tree.txt
sparqlify-core/src/test/resources/benchmark/sp2/translations.sql
sparqlify-platform/config/linkedgeodata/
sparqlify-platform/config/plx/
sparqlify-platform/config/sp2/
sparqlify-platform/dependency-tree.txt

sparqlify-benchmark/sp2/sp2b
sparqlify-benchmark/sp2/run-sparqlify-sp2.sh

sparqlify-benchmark/sp2/d2r
sparqlify-benchmark/sp2/run-d2r-sp2.sh
sparqlify-benchmark/sp2/config

release.properties
pom.xml.releaseBackup

sparqlify-dump.h2.db
sparqlify-dump.trace.db
trash
