.buildpath
.classpath
.project
.settings
target

*.jar
*.toc
*.out
*.pdf
*.aux
*.log
*.bbl
*.blg
*.dsc
*.deb
*.build
*.changes
*.gz
*.substvars
*.swp

DEBIAN
usr

#debian/sparqlify-0.2/debian/rules
#debian/sparqlify-0.2/debian/sparqlify.substvars
#debian/sparqlify-0.2/debian/sparqlify/
#debian/sparqlify-0.2/sparqlify.jar
#debian/sparqlify_0.2.dsc
#debian/sparqlify_0.2.tar.gz
#debian/sparqlify_0.2_all.deb
#debian/sparqlify_0.2_amd64.build
#debian/sparqlify_0.2_amd64.changes

sparqlify-core/debian/sparqlify-0.2/debian/rules
sparqlify-core/debian/sparqlify-0.2/debian/rules

rules


## Temporary excludes
dependency-tree.txt
sparqlify-core/src/test/resources/benchmark/sp2/translations.sql
sparqlify-platform/config/linkedgeodata/
sparqlify-platform/config/plx/
sparqlify-platform/config/sp2/
sparqlify-platform/dependency-tree.txt

sparqlify-benchmark/sp2/sp2b
sparqlify-benchmark/sp2/run-sparqlify-sp2.sh

sparqlify-benchmark/sp2/d2r
sparqlify-benchmark/sp2/run-d2r-sp2.sh
sparqlify-benchmark/sp2/config
