<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">

<!-- 	<task:annotation-driven /> -->



	<!-- 
	:::: Packages for which to process Spring annotations
	 -->
	<context:component-scan base-package="org.aksw.sparqlify.web"/>
	<context:component-scan base-package="org.aksw.sparqlify.platform.web"/>


	<!-- 
	:::: Enable Spring property substitution from external .properties file
	 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<!-- <property name="location" value="file:#{contextParameters.configDirectory + servletContext.contextPath}/platform.properties" />  -->
		<property name="location" value="file:#{systemProperties['configDirectory'] + servletContext.contextPath}/platform.properties" />
	</bean>


	<!-- 
	:::: DataSource Configuration
	 -->
	<bean id="sparqlifyDS" scope="singleton"
		class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
		<property name="driverClass" value="${database.driverClass}" />

		<property name="jdbcUrl" value="${database.jdbcUrl}" />
		<property name="username" value="${database.username}" />
		<property name="password" value="${database.password}" />

		<property name="partitionCount" value="${database.partitionCount}" />

		<property name="minConnectionsPerPartition" value="${database.minConnectionsPerPartition}" />
		<property name="maxConnectionsPerPartition" value="${database.maxConnectionsPerPartition}" />

		<property name="idleConnectionTestPeriod" value="${database.idleConnectionTestPeriod}" />
	</bean>


	<!-- 
	:::: Sparqilfy config parsing
	 -->
	<bean id="sparqlifyConfigFactory" class="org.aksw.sparqlify.config.loader.ConfigFactory">
		<property name="configFile" value="file:#{systemProperties['configDirectory'] + servletContext.contextPath}/views.sparqlify" />
	</bean>
	
	<bean id="sparqlifyConfig" factory-bean="sparqlifyConfigFactory" factory-method="create" ></bean>


	<!-- 
	:::: Sparqilfy query execution factory creation
	 -->
	<bean id="sparqlifyQefFactory"
		class="org.aksw.sparqlify.config.loader.SparqlifyQefFactory">
		<property name="dataSource"><ref bean="sparqlifyDS"/></property>
		<property name="config"><ref bean="sparqlifyConfig"/></property>
		
		<property name="maxQueryExecutionTime" value="${sparqlify.maxQueryExecutionTime}" />
		<property name="maxResultSetRowCount" value="${sparqlify.maxResultSetRowCount}" />
	</bean>


	<bean id="sparqlifyQef" factory-bean="sparqlifyQefFactory" factory-method="create" />
<!-- 		class="org.aksw.commons.sparql.api.core.QueryExecutionFactory" destroy-method="close"> -->



	<!-- 
	:::: Servlet context injection
	:::: Needed for Pubby
	 -->
	<bean id="servletContextBeanInjector" class="org.aksw.sparqlify.platform.config.ServletContextBeanInjector"/>

	<!-- 
	:::: Pubby configuration
	 -->
	<bean id="pubbyConfigFactory"
		class="org.aksw.sparqlify.platform.config.PubbyConfigFactory">
		<property name="baseUri" value="${platform.linkedData.baseUri}" />
		<property name="contextPath" value="${platform.linkedData.contextPath}" />
		<property name="sparqlifyConfig"><ref bean="sparqlifyConfig" /></property>
		<property name="queryExecutionFactory"><ref bean="sparqlifyQef" /></property>
		<property name="baseConfigFile" value="file:#{systemProperties['configDirectory'] + servletContext.contextPath}/pubby.ttl" />
		<property name="projectName" value="${platform.projectName}" />
		<property name="projectHomepage" value="${platform.projectHomepage}" />
	</bean>	 

	<bean id="pubbyConfig" factory-bean="pubbyConfigFactory" factory-method="create" />


	<bean id="pubbyConfigServletContextBridge" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetObject"><ref bean="servletContextBeanInjector"/></property>
		<property name="targetMethod"><value>setAttribute</value></property>
		<property name="arguments">
			<list>
       			<value>de.fuberlin.wiwiss.pubby.servlets.BaseServlet.serverConfiguration</value>
       			<ref bean="pubbyConfig" />
			</list>
		</property>
	</bean>	

</beans>
