Source: facete
Section: web
Priority: extra
Maintainer: Claus Stadler <cstadler@informatik.uni-leipzig.de>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.3
Homepage: http://aksw.org/Projects/Facete
Vcs-Git: git://github.com/GeoKnow/Facete.git
Vcs-Browser: https://github.com/GeoKnow/Facete

Package: facete
Section: web
Priority: extra
Architecture: all
Depends: tomcat6, dbconfig-common, xsltproc, ${misc:Depends}
Description: Facete Slice 'n' Dice SPARQL Workbench
 A web application for working with SPARQL accessible data.
 .
 LOD2 is a large-scale integrating project co-funded by the European
 Commission within the FP7 Information and Communication Technologies
 Work Programme (Grant Agreement No. 257943). Commencing in September
 2010, this 4-year project comprises leading Linked Open Data technology
 researchers, companies, and service providers from across 7 European
 countries and is coordinated by the AKSW research group at the
 University of Leipzig.
