Package: sparqlify-cli
Version: [[version]]
Section: web
Priority: optional
Architecture: all
Depends: java-runtime-headless
Maintainer: Claus Stadler <cstadler@informatik.uni-leipzig.de>
Description: Sparqlify Command Line Interfaces
Distribution: ldstack-nightly
Homepage: http://aksw.org/Projects/Sparqlify
Vcs-Git: git://github.com/AKSW/Sparqlify.git
Vcs-Browser: https://github.com/AKSW/Sparqlify
