	<div class="row-fluid">
		<div class="span8 offset2">
			<form ng-submit="doFilterContexts()">
		    	<input type="text" ng-model="filterText" />
				<input class="btn-primary" type="submit" value="Filter" />
			</form>
		
			<table class="table table-striped">
				<thead>
<!-- 					<th>Id</th> -->
					<th>Path</th>
					<th>Jdbc Url</th>
					<th>Username</th>
					<th>Mapping</th>
					<th>Status</th>
					<th>Service</th>
					<th>Config</th>
				</thead>
				<tr ng-repeat="context in contexts">
<!-- 					<td>{{context.id}}</td> -->
					<td><a href="endpoints/{{context.config.contextPath}}/sparql" target="_blank">{{context.config.contextPath}}</a></td>
					<td>{{context.config.dataSource.jdbcUrl}}</td>
					<td>{{context.config.dataSource.username}}</td>
					<td>{{context.config.resource.data}}</td>
					<td>{{context.status}}</td>
					<td>
						<a href="" ng-show="context.status=='STOPPED'" ng-click="startService(context.id.slice(1, -1))">Start</a>
						<a href="" ng-show="context.status!='STOPPED'" ng-click="stopService(context.id.slice(1, -1))">Stop</a>
						<a href="" ng-click="restartService(context.id)">Restart</a>
					</td>
					<td>
						<a href="" ng-click="editContext(context._id)">Edit</a>
						<a href="" ng-click="deleteContext(context._id, context.config.contextPath)">Delete</a>						
					</td>
				</tr>
			</table>

		</div>
	</div>

